// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #6aaf4e;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$updated-at-color:  rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-mongo-network styles
// ----------------------------------------------------------------------------
.widget-mongo-network {
  background-color: $background-color!important;
}

.down-val {
  margin-left: 10px;
}

.title {
  color: $title-color;
}

.updated-at {
  color: $updated-at-color
}

.more-info {
  color: $moreinfo-color;
}
